version: '3.8'
services:
  db:
    image: postgres:14.1-alpine
    ports:
      - "5432:5432"
    container_name: seguranca-db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=seguranca
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql


volumes:
  db:
    driver: local